<footer class="pt-4">
  <div class="containers">
    <div class="d-flex justify-content-between">
      <div>
        <h3>Adresse</h3>
        <p>1478, Rue de la colline</p>
        <p>Québec, Canada</p>
        <p class="d-flex">
          <i class="bi bi-facebook"></i>
          <i class="bi bi-whatsapp"></i>
          <i class="bi bi-envelope"></i>
        </p>
      </div>
      <div>
        <h3>Support client</h3>
        <p>Contactez nous</p>
        <p>A propos de nous</p>
      </div>
      <div>
        <h3>Politique</h3>
        <p>Expédition et retours</p>
        <p>Termes et conditions</p>
        <p>Termes et conditions</p>
      </div>
    </div>

  </div>
</footer>
