.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  background-color: gray;
  border-radius: 50%;
  margin: 5px;
  text-align: center;
  line-height: 1.2;
}

.circle:hover {
  background-color: darkgray;
}

@media (max-width: 768px) {
  .circle {
    width: 50px;
    height: 50px;
  }
}
